<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.resources.natures"
      id="cz.muni.fi.rhqeditor.natures.rhqeditornature"
      name="cz.muni.fi.rhqeditor.natures.rhqeditornature">
      <runtime>
         <run
               class="z.muni.fi.rhqeditor.core.natures.RhqBundleEditorNature">
         </run>
      </runtime>
   </extension>

 
</plugin>
 
