<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
     <category 
		id = "cz.muni.fi.rhqeditor.category"
		name = "RHQ Bundle"/>
		<wizard
	   		id = "cz.muni.fi.rhqbunle.ui.wizards.newproject"
      	   	name = "RHQ Bundle"
      	   	project="true"
	   		class="cz.muni.fi.rhqeditor.ui.wizards.NewProjectWizard"
	   		category = "cz.muni.fi.rhqeditor.category"
	   		icon="icons/rhq.gif">
	   		<description>RHQ Bundle project</description>
		</wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.exportWizards">
         <category
               id="cz.muni.fi.rhqeditor.ui.export"
               name="RHQ Bundle">
         </category>
         <wizard
               id="cz.muni.fi.rhqeditor.ui.exportwizard"
               name="ExportWizard"
               category="cz.muni.fi.rhqeditor.ui.export"
               class="cz.muni.fi.rhqeditor.ui.wizards.ExportWizzard">
               <description>
                  RHQ bundle export wizard
               </description>
               
         </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            id="cz.muni.fi.rhqeditor.ui.editor1"
            name="RHQ Editor"
            class="cz.muni.fi.rhqeditor.ui.RhqEditor"
            icon="icons/rhq.gif"
            filenames="deploy.xml">
      </editor>
   </extension>

   <extension
         id="rhqproblemmarker"
         name="rhqproblemmarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent value="true" />
   </extension>


   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="cz.muni.fi.rhqeditor.ui.launch.LunchShortcut"
            id="cz.muni.fi.rhqeditor.ui.shortcut1"
            label="RHQ bundle standalone deployment"
            modes="run"
            icon="icons/rhq.gif"
            >
            <contextualLaunch>
            <contextLabel
                  mode="run"
                  label="RHQ bundle standalone deployment">
            </contextLabel>
            <enablement>
            	<with variable="selection">
			 <count value="1"/>
			  <iterate>
			  	  <or>
			  	     <test property="org.eclipse.debug.ui.matchesPattern" value="deploy.xml"/>
			  	  </or> 	 
			  </iterate>
			 </with>
            </enablement>
            </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="preferences.PreferencePage"
            id="cz.muni.fi.rhqeditor.ui.prefenecePages"
            name="RHQ">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="preferences.RHQPropertyPage"
            id="cz.muni.fi.rhqeditor.propertyPage"
            name="RHQ">
      </page>
   </extension>
   
      <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="cz.muni.fi.rhqeditor.core.launchconfigurationtype"
            name="RHQ Bundle"
            delegate="cz.muni.fi.rhqeditor.core.launch.RhqLaunchConfigurationDelegate"
            public="true"
            delegateName="delegateName"
            modes="run"
            >
            
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="cz.muni.fi.rhqeditor.core.launchconfigurationtype"
            icon="icons/rhq.gif"
            id="cz.muni.fi.rhqeditor.ui.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="cz.muni.fi.rhqeditor.ui.launch.LaunchConfigurationTagGroup"
            id="cz.muni.fi.rhqeditor.core.launchConfigurationTabGroup1"
            type="cz.muni.fi.rhqeditor.core.launchconfigurationtype">
      </launchConfigurationTabGroup>
   </extension>


<extension point="org.eclipse.ui.navigator.navigatorContent">
    <commonFilter
        description="Hides *.pj resources"
        id="com.xyz.commonFilter.hidePj"
        name="*.pj resources"
        activeByDefault="true">
        <filterExpression>
            <and>
                <adapt type="org.eclipse.core.resources.IResource">
                    <test property="org.eclipse.core.resources.name" value="*.pj"/>
                </adapt>
            </and>
        </filterExpression>
    </commonFilter>
</extension>
<extension point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
            <contentExtension pattern="com.xyz.commonFilter.hidePj"/> 
          </includes>
    </viewerContentBinding>
</extension>
<extension
      id="cz.muni.fi.rhqeditor.import.bundle.wizard"
      point="org.eclipse.ui.importWizards"
      name="RHQ"
      >
      <category
            id="cz.muni.fi.rhqeditor.ui.import.wizard"
            name="RHQ Bundle">
      </category>
      <wizard
            id="cz.muni.fi.rhqeditor.ui.import.bundle"
            name="Import bundle from archive"
            icon="icons/rhq.gif"
            class="cz.muni.fi.rhqeditor.ui.wizards.ImportBundleArchiveWizard"
            category="cz.muni.fi.rhqeditor.ui.import.wizard"
            >
      </wizard>
</extension>
	

    
   
</plugin>
