<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
     <category 
		id = "cz.muni.fi.rhqeditor.category"
		name = "RHQ Bundle"/>
		<wizard
	   		id = "cz.muni.fi.rhqbunle.ui.wizards.newproject"
      	   	name = "RHQ Bundle"
      	   	project="true"
	   		class="cz.muni.fi.rhqeditor.ui.wizards.NewProjectWizard"
	   		category = "cz.muni.fi.rhqeditor.category"
	   		icon="icons/rhq.gif">
	   		<description>RHQ Bundle project</description>
		</wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.exportWizards">
         <category
               id="cz.muni.fi.rhqeditor.ui.export"
               name="RHQ Bundle">
         </category>
         <wizard
               id="cz.muni.fi.rhqeditor.ui.exportwizard"
               name="RHQ Bundle"
               icon="icons/rhq.gif"
               category="cz.muni.fi.rhqeditor.ui.export"
               class="cz.muni.fi.rhqeditor.ui.wizards.ExportBundleWizard">
               <description>
                  RHQ bundle export wizard
               </description>
               
         </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            id="cz.muni.fi.rhqeditor.ui.editor1"
            name="RHQ Editor"
            class="cz.muni.fi.rhqeditor.ui.editor.RhqEditor"
            icon="icons/rhq.gif"
            filenames="deploy.xml"
            >
            
            <contentTypeBinding
                  contentTypeId="cz.muni.fi.rhqeditor.ui.content-type1">
            </contentTypeBinding>
      </editor>
   </extension>

   <extension
         id="rhqproblemmarker"
         name="rhqproblemmarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent value="true" />
   </extension>


   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="cz.muni.fi.rhqeditor.ui.launch.LunchShortcut"
            id="cz.muni.fi.rhqeditor.ui.shortcut1"
            label="RHQ bundle standalone deployment"
            description="Standalone deployment of RHQ bundle"
            modes="run"
            icon="icons/rhq.gif"
            >
            <contextualLaunch>
            <contextLabel
                  mode="run"
                  label="Launch RHQ bundle standalone deployment">
            </contextLabel>
            <enablement>
            	<with variable="selection">
			 <count value="1"/>
			  <iterate>
			  	  <or>
			  	     <test property="org.eclipse.debug.ui.matchesPattern" value="deploy.xml"/>
			  	  </or> 	 
			  </iterate>
			 </with>
            </enablement>
            </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="cz.muni.fi.rhqeditor.ui.preferences.PreferencePage"
            id="cz.muni.fi.rhqeditor.ui.prefenecePages"
            name="RHQ">
      </page>
   </extension>
   
      <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="cz.muni.fi.rhqeditor.core.launchconfigurationtype"
            name="RHQ Bundle"
            delegate="cz.muni.fi.rhqeditor.core.launch.RhqLaunchConfigurationDelegate"
            public="true"
            delegateName="delegateName"
            modes="run"
            >
            
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="cz.muni.fi.rhqeditor.core.launchconfigurationtype"
            icon="icons/rhq.gif"
            id="cz.muni.fi.rhqeditor.ui.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="cz.muni.fi.rhqeditor.ui.launch.LaunchConfigurationTagGroup"
            id="cz.muni.fi.rhqeditor.core.launchConfigurationTabGroup1"
            type="cz.muni.fi.rhqeditor.core.launchconfigurationtype">
      </launchConfigurationTabGroup>
   </extension>



<extension
      id="cz.muni.fi.rhqeditor.import.bundle.wizard"
      point="org.eclipse.ui.importWizards"
      name="RHQ"
      >
      <category
            id="cz.muni.fi.rhqeditor.ui.import.wizard"
            name="RHQ Bundle">
      </category>
      <wizard
            id="cz.muni.fi.rhqeditor.ui.import.bundle"
            name="Import bundle from archive"
            icon="icons/rhq.gif"
            class="cz.muni.fi.rhqeditor.ui.wizards.ImportBundleArchiveWizard"
            category="cz.muni.fi.rhqeditor.ui.import.wizard"
            >
      </wizard>
</extension>
	<extension
	      point="org.eclipse.core.contenttype.contentTypes"
	      >
	      <content-type
	      	name="cz.muni.fi.rhqeditor.contenttype"
             id="cz.muni.fi.rhqeditor.ui.content-type1"
             file-names="deploy.xml"
             >
	      </content-type>
	</extension>
    
   
</plugin>
